<div class="panel panel-default">
    {% include "panel_heading.tmpl" with panel_title=filter_title panel_body_id="filterId" direction="right" %}
    <div id="filterId" class="collapse out panel-body table-responsive">
    <form action="{{ url_prefix }}/" class="form-horizontal" role="form" method="post">
{% csrf_token %}
        <div class="form-group">
                <label for="before" class="deployToolTip control-label col-xs-2"
                    data-toggle="tooltip">
                    开始时间
                </label>

                <div class="col-xs-4">
                    <input class="form-control" name="after" required="true" id="after" style="height:34px"
                           type="text" data-date-format="yyyy-mm-dd hh:ii:ss" value="{{after}}" readonly/>

                </div>

                <label for="after" class="deployToolTip control-label col-xs-2"
                    data-toggle="tooltip">
                    结束时间
                </label>

                <div class="col-xs-4">
                    <input class="form-control" name="before" required="true" id="before" style="height:34px"
                           type="text" data-date-format="yyyy-mm-dd hh:ii:ss" value="{{before}}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="ip" class="deployToolTip control-label col-xs-2"
                    data-toggle="tooltip">
                    ip
                </label>

                <div class="col-xs-4">
                    <select class="form-control" name="ip" id="ip">
                        <option value="">--请选择--</option>
                        <option value="10.1.193.60">测试(10.1.193.60)</option>
                        <option value="10.153.76.87">DNS+前置机+WORKER机(10.153.76.87)</option>
                        <option value="10.153.106.224">VIEWS(10.153.106.224)</option>
                        <option value="10.153.126.93">VIEWS_PLT(10.153.126.93)</option>
                        <option value="10.153.127.165">VIEWS_HOME(10.153.127.165)</option>
                        <option value="10.153.121.51">VIEWS_FEED(10.153.121.51)</option>
                    </select>
                </div>
                <input type='hidden' id="currentIp" value="{{ip}}">
                <input type='hidden' id="currentProxy" value="{{name}}">
                <div style="display:{% if url_prefix == '/graph/ip' %}none;{% endif %}">
                <label for="name" class="deployToolTip control-label col-xs-2"
                    data-toggle="tooltip">
                    proxy
                </label>

                <div class="col-xs-4">
                    <select class="form-control" name="name" id="proxy">

                    </select>
                </div>
                </div>

            </div>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-filter"></span> 查询
        </button>
    </form>
    </div>
</div>

<script>
    $(function(){
    　　 currentIp = $("#currentIp").val();
        $("#ip").val(currentIp);
        ipVal = $("#ip").val();
        getProxy(ipVal);
    });


    $("#ip").change(function() {
         ipVal = $("#ip").val();
         getProxy(ipVal);
    });

    function getProxy(ipVal){
        proxySelect = $("#proxy");
        proxySelect.empty();
        $.ajax({
          type: "get",
          url: "/graph/proxy",
          data: "ip="+ipVal
        }).done(function(data) {
           proxyArray = data.proxy;
           $.each(proxyArray, function(index, value) {
               proxySelect.append('<option selected="true" value='+value+'>'+value+'</option>');
               proxySelect.val($("#currentProxy").val())
           });
        });
    }


  $('#after').datetimepicker({
    　　autoclose:true //选择日期后自动关闭
  });
  $('#before').datetimepicker({
        autoclose:true //选择日期后自动关闭
  });
</script>
