<div class="row" id="main">
<input type='hidden' id="xData" value="{{xData}}">
<input type='hidden' id="yData" value="{{yData}}">


</div>


<script>
// single proxy graph
$("#main").attr("style", "height:300px;");
yData = $.parseJSON($("#yData").val());
currentIp = $("#currentIp").val();
currentProxy = $("#currentProxy").val();
xData = $.parseJSON($("#xData").val());
currentIp = currentIp == 1 ? "海外":"国内";


if(yData == ''){
    $("#main").html("<div align='center'>没有查到相关数据！</div>");
}else{
    lineName = currentIp+" ["+currentProxy+"] 接口成功率";
    var myChart = echarts.init(document.getElementById('main'));
    option = {
        title: {
            text: '',
            subtext: ''
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:[lineName]
        },
        toolbox: {
                       show : true,
                       feature : {
                           mark : {show: true},
                           dataView : {show: true, readOnly: false},
                           magicType : {
                               show: true,
                               type: ['pie', 'funnel'],
                               option: {
                                   funnel: {
                                       x: '25%',
                                       width: '50%',
                                       funnelAlign: 'left',
                                       max: 1700
                                   }
                               }
                           },
                           restore : {show: true},
                           saveAsImage : {show: true}
                       }
                   },
        xAxis:  {
            type: 'category',
            boundaryGap: false,
            splitNumber: 10,
            data: xData
        },
        yAxis: {
            type: 'value',
            scale: true,
            axisLabel: {
                formatter: '{value} %'
            }
        },
        series: [
            {
                name:lineName,
                type:'line',
                data: yData,
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            }
            ]
    };
    myChart.setOption(option);
}

</script>
