{% extends 'environs/envs_base.html' %}

{% load utils %}
{% load static %}

{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/envs">Environments</a></li>
    <li class="active">Deployments</li>
</ul>
{% endblock %}

{% block main %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">状态码监控->趋势</h4>
    </div>
    <div class="panel-body table-responsive">
        {% include "code/proxy_pagination_header.tmpl" with url_prefix='/code' %}
        {% include "code/proxy_pagination_footer.tmpl" with url_prefix='/envs/deploys' %}
    </div>
</div>
{% endblock %}
